<h1>{{title}}</h1>

<form>
  <input type="text" name="nombre" [(ngModel)]="nombre" >
  <input type="text" name="apellido" [(ngModel)]="apellido" >
  <input type="submit" value="registrate" (click)="registrarUsuario()">


</form>

<br/>
<br/>

<p *ngIf="registrado else sinRegistrar">{{mensaje}} con el nombre de {{nombre}} {{apellido}} </p>

<ng-template #sinRegistrar>

  <p>nadie registrado</p>


</ng-template>

<ul>
  <li *ngFor="let entrada of entradas; index as i;">{{entrada.titulo}}
    . Entrada {{i}}

  </li>


</ul>


